<link rel="stylesheet" href="/style.css"/>

<h2>
  <%= flash[:notice] %>
</h2>

<% if @user %>
<h2>Welcome to MakersBNB, <%= @user.name%>!</h2>
<% end %>
<br>
<br>
<h1>Book a space</h1>
<br>
<form action="/spaces/available" method="post">
<label for="available-from">Available from</label><br>
  <input type="date" name="from" /><br><br>
<label for="available-to">Available to</label><br>
<input type="date" name="to" /><br><br>
<input type="submit" value="See spaces" /><br><br>
</form>
<br>
<% @spaces.each do |space| %>
<h2><%= space.name %></h2>
<h3><%= space.description %></h3>
<li>Cost: £<%= space.price%> per night</li>
<br>
<li>Available from: <%= space.from_date%> to: <%= space.to_date%></li>
<br>
<form action="spaces/<%= space.id %>/booking" method="GET">
<input type="submit" value="Book" />
</form>
 <%end%>
<br>
<br>
<br>
<br>
<form action="/spaces/new">
<input type="submit" value="List a new space" />
</form>
<br>
<br>
<form action="/requests" method="get">
<input type="submit" value="Requests" />
</form>
<br>
<br>
<br>
<br>
<br>
<br>
<form action="/sessions/destroy" method="post">
<input type="submit" value="Sign out" />
</form>
<br>
<br>
<footer class="footer">
 Makers BnB | FAMM team | Makers 2020
</footer>
